*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* navbar section styles */
.navbar{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 100%;
}

.nav-logo h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-logo h1 span{
    color: #FF42A5;
}


.nav-content > ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-content ul li {
    list-style-type: none;
}

.nav-content ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #3C354F;
    font-weight: 500;
}


.nav-content  ul  .nav-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(11, 2, 35, 0.10);
    padding: 7px;
    border-radius: 5px;
}

.nav-content  ul  .nav-icons img{
    width: 25px;
    margin-top: 6px;
}
/* navbar section styles */

/* banner section styles */
.banner{
    padding: 50px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 50%;
}

.banner-content h3{
  font-size: 2.8rem;
  font-weight: 700;
  color: #0B0223;
  text-transform: uppercase;
}

.banner-content h1{
    font-size: 5rem;
    font-weight: 700;
    color: #0B0223;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-icons{
    margin-top: 15px;
  }

  .banner-icons-1,.banner-icons-2, .banner-icons-3 {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .banner-btn-1{
    margin-top: 20px;
    padding: 15px 35px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 48px;
  }

  .banner-btn-2{
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px 35px;
    border: none;
    background: #4EC5F7;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
  }

  .banner-image{
    width: 50%;
  }

.banner-image img{
  width: 100%;
  height: 100%;
  
}
/* banner section styles */

/* online games section styles */
.online-games{
    padding: 50px;
}

.online-caption {
    text-align: center;
}

.online-caption h1{
    font-size: 2.6rem;
    font-weight: 700;
    color: #0B0223;
}

.online-caption h1 span{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.online-caption p{
    margin-top: 20px;
    font-size: 1.25rem;
    color: #534C64;
}

.games-card {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.online-games .games-card .gemes-1{
    width: 343px;
}

.online-games .games-card .gemes-2{
    width: 343px;
}

.online-games .games-card .gemes-3{
    width: 343px;
}
.online-games .games-card .gemes-4{
    width: 343px;
}

.games-card img{
    width: 100%;
    height: 100%;
}

.games-card p{
    margin-top: 10px;
}
/* online games section styles */

/* play instantly section */
.play-instantly{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-content{
    width: 35%;
}

.play-content h1{
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}

.play-content h1 span{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.play-content p{
    margin-top: 20px;
    color: #534C64;
}

.play-images{
    margin-top: 100px;
    width: 50%;
    position: relative;
}

.play-images .play-img-2{
    position: absolute;
    bottom: -90px;
    right: -110px;
}

.play-images img{
    width: 100%;
    height: 100%;
}

.play-img-2 img{
    width: 250px;
}

/* play instantly section */