/* responsive for mobile device */
@media screen and (max-width: 575px) {
    .navbar, .nav-logo, .nav-content > ul{
        flex-direction: column;
         margin-bottom: 40px;
    }

    .banner{
      flex-direction: column-reverse;
      padding: 20px;
    }

    .banner-content{
      margin-top: 80px;
      width: 100%;
    }

    .banner-image{
      width: 100%;
    }

    .online-games{
      padding: 20px;
      margin-top: 80px;
    }

    .games-card{
      flex-direction: column;
    }

    .online-games .games-card .gemes-1{
      width: 100%;
  }
  
  .online-games .games-card .gemes-2{
    width: 100%;
  }
  
  .online-games .games-card .gemes-3{
    width: 100%;
  }
  .online-games .games-card .gemes-4{
    width: 100%;
  }

    /* .banner-content{
      margin-top: 80px;
    } */
  }
/* responsive for mobile device */

/* ............................. */

/* responsive for medium device */
@media screen and (min-width: 575px) and (max-width: 992px){
  .navbar, .banner{
    padding: 15px;
  }

  .banner-content{
    margin-top: 30px;
  }

  .banner-image{
    width: 50%;
  }
}
/* responsive for medium device */
