/* responsive for mobile device */
@media screen and (max-width: 575px) {
    .navbar, .nav-logo, .nav-content > ul{
        flex-direction: column;
         margin-bottom: 40px;
    }

    .banner{
      flex-direction: column-reverse;
      padding: 20px;
    }

    .banner-content{
      margin-top: 80px;
      width: 100%;
    }

    .banner-image{
      width: 100%;
    }

    .we-are-gammer{
      flex-direction: column-reverse;
      padding: 20px;
      margin-top: 50px;
    }

    .gammer-content{
      width: 100%;
      text-align: center;
    }

    .gammer-image{
      width: 100%;
    }

    .online-games{
      padding: 20px;
      margin-top: 80px;
    }

    .games-card{
      flex-direction: column;
    }

    .online-games .games-card .gemes-1{
      width: 100%;
  }
  
  .online-games .games-card .gemes-2{
    width: 100%;
    margin-top: 60px;
  }
  
  .online-games .games-card .gemes-3{
    width: 100%;
    margin-top: 60px;
  }
  .online-games .games-card .gemes-4{
    width: 100%;
    margin-top: 60px;
  }

  .play-instantly {
    flex-direction: column-reverse;
    padding: 40px;
  }

  .play-content{
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }

  .play-images{
    width: 100%;
  }

  .play-images .play-img-2{
    position: absolute;
    bottom: -50px;
    right: -20px;
}

  .play-img-2 img{
    width: 150px;
  }

  .career{
    flex-direction: column;
    padding: 20px;
  }

  .career-content{
    width: 100%;
    margin-top: 10px;
  }

  .multiple-left, .multiple-right{
    width: 100%;
  }

  .career-image{
    width: 100%;
  }

  .multipule-button {
    padding: 20px;
  }

  .button-up, .button-down{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
  }
    
   .footer {
    padding: 20px;
   }

   .footer-menu > ul, .footer-menu-2 > ul{
    flex-wrap: wrap;
   }

   .footer-icon{
      flex-wrap: wrap;
   }
  }
/* responsive for mobile device */

/* ............................. */





/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
  .navbar, .banner, .we-are-gammer, .online-games, .play-instantly, .multipule-button, .footer{
    padding: 15px;
  }

  .banner-content{
    margin-top: 30px;
  }

  .banner-image{
    width: 30%;
  }

  .we-are-gammer{
    margin-top: 50px;
    padding: 15px;
    align-items: center;
  }

  .gammer-image{
    width: 50%;
  }

  .gammer-content{
    width: 50%;
    text-align: center;
  }

  .play-content{
    margin-top: 110px;
  }

  .play-content h1{
    font-size: 1.8rem;
    color: #0B0223;
    font-weight: 700;
}

  .play-img-2 img{
    width: 150px;
  }

  .play-images .play-img-2{
    position: absolute;
    bottom: -50px;
    right: -20px;
}

.online-games .games-card .gemes-1,
.online-games .games-card .gemes-2,
.online-games .games-card .gemes-3,
.online-games .games-card .gemes-4{
  width: 400px;
  height: 200px;
}

.button-up, .button-down{
  justify-content: space-between;
  margin-top: 0px;
}

.career{
  padding: 20px;
}

.career-content{
  margin-top: 10px;
}

.career-image{
  margin-top: 60px;
}

}

/* responsive for medium device */
